[env]
_.file = [".env.json", ".env.local"]
ENVIRONMENT = { required = "\"production\" | \"staging\"" }

[tools]
go = "1.25.7"
"github:railwayapp/cli" = "latest"
"aqua:mvdan/gofumpt" = "latest"
"aqua:golangci/golangci-lint" = "latest"
"aqua:jqlang/jq" = "latest"
"go:github.com/thdxg/logfmt" = "v0.3.0"

# --- tasks ---
[tasks.run]
description = "Run the API server"
run = """
  go run ./cmd/autoscaler 2>&1 | logfmt
"""

[tasks.fmt]
description = "Format Go with gofumpt"
sources = ["**/*.go"]
run = """
  gofumpt -l -w .
"""

[tasks.lint]
description = "Lint Go with golangci-lint"
sources = ["**/*.go"]
run = """
  golangci-lint run
"""

[tasks.env]
description = "Download environment variables from Railway to .env"
sources = [".env.local"]
outputs = [".env.json"]
run = """
  railway variables --environment {{ env.ENVIRONMENT }} --service "Autoscaler" --json > .env.json
"""
